*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 14px;
  font-family: "Maison Mono";
  font-weight: 600;
}

input[type='range'] {
    background: linear-gradient(to right, #000 0%, #000 50%, #C4C4C4 50%, #C4C4C4 100%);
    border-radius: 8px;
    height: 2px;
    width: 356px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    cursor: ew-resize;
    border-radius: 100%;
    background: black;
}